<div class="container">
    <ul class="nav nav-pills nav-fill mt-5 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" (click)="toggleIssueType('Assigned')">Assigned</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="toggleIssueType('Reported')">Reported</a>
        </li>
    </ul>

    <div class="form-row mb-3">
        <div class="form-group col-md-10">
            <div class="form-row">
                <div class="col-12">
                    <input type="search" class="form-control" #search placeholder="Search"></div>
                <div class=" col-12">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="filterType" id="filterTypeTitle" value="title" [checked]="filterType == 'title'" class="custom-control-input" (click)="filterType = 'title'">
                        <label class="custom-control-label" for="filterTypeTitle">Title</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="filterType" id="filterTypeStatus" value="status" [checked]="filterType == 'status'" class="custom-control-input" (click)="filterType = 'status'">
                        <label class="custom-control-label" for="filterTypeStatus">Status</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" name="filterType" id="filterTypeDescription" value="description" [checked]="filterType == 'description'" class="custom-control-input" (click)="filterType = 'description'">
                        <label class="custom-control-label" for="filterTypeDescription">Description</label>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-secondary btn-block" (click)="filter(search.value)">Filter</button>
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-hover  border-dark border" *ngIf="issuesType == 'Assigned'">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" (click)="sortBy('title')">Title
                            <fa-icon *ngIf="sort=='title'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-title'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('status')">Status
                            <fa-icon *ngIf="sort=='status'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-status'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('description')">Description
                            <fa-icon *ngIf="sort=='description'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-description'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('reporter')">Reporter
                            <fa-icon *ngIf="sort=='reporter'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-reporter'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('createdOn')">Created
                            <fa-icon *ngIf="sort=='createdOn'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-createdOn'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('modifiedOn')">Last Modified
                            <fa-icon *ngIf="sort=='modifiedOn'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-modifiedOn'" [icon]="faArrowDown"></fa-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of issues" (click)="openIssue(issue.issueId)">
                        <td>{{issue.title}}</td>
                        <td [ngClass]="{'text-primary': issue.status=='In-Progress', 'text-info': issue.status=='In-Test', 'text-success': issue.status=='Done', 'text-danger': issue.status=='Backlog'}">{{issue.status}}</td>
                        <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 200px;">{{issue.description}}</td>
                        <td [title]="issue.reporter.email">{{issue.reporter.firstName}} {{issue.reporter.lastName}}</td>
                        <td>{{issue.createdOn | date:'h:mm a, d MMM y'}}</td>
                        <td>{{issue.modifiedOn | date:'h:mm a, d MMM y'}}</td>
                    </tr>
                    <tr *ngIf="!issues" class="table-danger">
                        <td colspan="6" class="text-center">No Issues</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <table class="table table-hover border-dark border" *ngIf="issuesType == 'Reported'">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" (click)="sortBy('title')">Title
                            <fa-icon *ngIf="sort=='title'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-title'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('status')">Status
                            <fa-icon *ngIf="sort=='status'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-status'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('description')">Description
                            <fa-icon *ngIf="sort=='description'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-description'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('assignees')">Assignees
                            <fa-icon *ngIf="sort=='assignees'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-assignees'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('createdOn')">Created
                            <fa-icon *ngIf="sort=='createdOn'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-createdOn'" [icon]="faArrowDown"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('modifiedOn')">Last Modified
                            <fa-icon *ngIf="sort=='modifiedOn'" [icon]="faArrowUp"></fa-icon>
                            <fa-icon *ngIf="sort=='-modifiedOn'" [icon]="faArrowDown"></fa-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let issue of issues" (click)="openIssue(issue.issueId)">
                        <td>{{issue.title}}</td>
                        <td [ngClass]="{'text-primary': issue.status=='In-Progress', 'text-info': issue.status=='In-Test', 'text-success': issue.status=='Done', 'text-danger': issue.status=='Backlog'}">{{issue.status}}</td>
                        <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 150px;">{{issue.description}}</td>
                        <td>
                            <span *ngFor="let assignee of issue.assignees; let i = index" [attr.data-index]="i" [title]="assignee.to.email">{{assignee.to.firstName}} {{assignee.to.lastName}}<span *ngIf="i!=issue.assignees.length-1">, </span></span>
                        </td>
                        <td>{{issue.createdOn | date:'h:mm a, d MMM y'}}</td>
                        <td>{{issue.modifiedOn | date:'h:mm a, d MMM y'}}</td>
                    </tr>
                    <tr *ngIf="!issues" class="table-danger">
                        <td colspan="6" class="text-center">No Issues</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a [routerLink]="['/issue/add']" class="btn btn-info">Add Issue</a>
        <nav aria-label="..." *ngIf="totalIssues">
            <ul class="pagination justify-content-end">
                <li class="page-item" [class.disabled]="page==1">
                    <a class="page-link" (click)="gotoPage(page+1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let i of counter(totalPages);" [class.active]="page==i">
                    <a class="page-link" (click)="gotoPage(i)">{{i}}</a>
                </li>
                <li class="page-item" [class.disabled]="page==totalPages">
                    <a class="page-link" (click)="gotoPage(page+1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>