<div class="container  mt-3" *ngIf="(add || issue) && users">
    <form>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="issue.title" placeholder="Enter title" required [readonly]='issue.reporter.email != user.email'>
            </div>
            <div class="form-group float-right ml-auto" *ngIf="!add && issue.watchersCount!=-1">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" *ngIf="!issue.watchers">{{issue.watchersCount}}</span>
                    <div class="dropdown" *ngIf="issue.watchers">
                        <span class="input-group-text dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{issue.watchersCount}}</span>
                        <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuReference">
                            <div class="list-group">
                                <div class="list-group-item" *ngFor="let watcher of issue.watchers" title="{{watcher.by.email}}">
                                    {{watcher.by.firstName}} {{watcher.by.lastName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text btn" (click)="watch()" *ngIf="!issue.watchers">Watch</span>
                        <span class="input-group-text btn" (click)="unwatch()" *ngIf="issue.watchers">Unwatch</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="reporter">Reporter</label>
                <input type="text" class="form-control" id="reporter" name="reporter" value="{{issue.reporter.firstName}} {{issue.reporter.lastName}} &lt;{{issue.reporter.email}}&gt;" readonly required>
            </div>
            <div class="form-group col-md-6" *ngIf="!add">
                <label for="status">Status</label>
                <select id="status" name="status" class="custom-select" [(ngModel)]="issue.status" required [disabled]='issue.reporter.email != user.email'>
                    <option value="In-Progress" class="text-primary">In-Progress</option>
                    <option value="In-Test" class="text-info">In-Test</option>
                    <option value="Done" class="text-success">Done</option>
                    <option value="Backlog" class="text-danger">Backlog</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="assignee">Assigned to</label>
            <div class="list-group">
                <div class="input-group" *ngFor="let assignee of issue.assignees">
                    <span class="input-group-text col-6">{{assignee.to.firstName}} {{assignee.to.lastName}} &lt;{{assignee.to.email}}&gt;</span>
                    <span class="input-group-text col-3" *ngIf="assignee.assignedOn">on {{assignee.assignedOn |  date:'h:mm a, d MMM y'}}</span>
                    <div class="input-group-append" *ngIf="canUpdate">
                        <span class="input-group-text btn" title="Remove assignee" (click)="removeAssignee(assignee.to.email)">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
            <div class="input-group" *ngIf="canUpdate || add">
                <input type="text" class="custom-select" id="assignee" name="assignee" list="assignees" placeholder="Select user to assign issue" [(ngModel)]="assignee" required>
                <datalist id="assignees">
                    <option *ngFor="let nonAssignee of nonAssignees" [value]="nonAssignee.email">{{nonAssignee.firstName}} {{nonAssignee.lastName}} &lt;{{nonAssignee.email}}&gt;</option>
                </datalist>

                <div class="input-group-append">
                    <span class="input-group-text btn" title="Add assignee" (click)="addAssignee()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <ckeditor *ngIf="issue.reporter.email == user.email" [(ngModel)]="issue.description" name="description" id="description" [editor]="Editor" tagName="textarea"></ckeditor>
            <div *ngIf="issue.reporter.email != user.email" [innerHtml]="issue.description" name="description" id="description" class=" border rounded px-3 py-1"></div>
        </div>

        <button type="button" class="btn btn-primary mb-3" *ngIf="!add && canUpdate" (click)="updateIssue()">Update</button>
        <button type="button" class="btn btn-primary mb-3" *ngIf="add" (click)="createIssue()">Submit</button>

        <div class="form-group" *ngIf="!add">
            <label for="attachments">Attachments</label>
            <div class="form-row">
                <div class="form-group col-12" *ngIf="issue.attachments">
                    <img *ngFor="let image of issue.attachments" [src]="image" class="col-md-6 img-thumbnail" alt="No preview">
                </div>
                <div class="form-group col-12" *ngIf="attachments">
                    <p class="text-warning small mb-0">Yet to upload:</p>
                    <img *ngFor="let image of attachments" [src]="image.tempUrl" class="col-md-6 img-thumbnail" alt="No preview" title="{{image.name}}">
                </div>
                <div class="form-group col-md-10">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="attachments" multiple (change)="addAttachments($event)" accept="image/*">
                        <label class="custom-file-label" for="attachments">Choose images...</label>
                    </div>
                </div>
                <div class="form-group col-md-2" *ngIf="attachments">
                    <button type="button" class="btn btn-primary btn-block" (click)="uploadAttachments()">Upload</button>
                </div>
            </div>
        </div>

    </form>
    <form class="mt-3" *ngIf="!add">
        <h4>Comments</h4>

        <div class="list-group mb-3">
            <div class="list-group-item" *ngFor="let comment of issue.comments">
                <div class="w-100"><span [title]="comment.by.email" class="font-weight-bold">{{comment.by.firstName}} {{comment.by.lastName}}</span></div>
                <div [innerHtml]="comment.text" class="w-100"></div>
                <div class="w-100 small text-muted"><span class="float-right">{{comment.createdOn |  date:'h:mm a, d MMM y'}}</span></div>
            </div>
        </div>
        <div class="form-group">
            <ckeditor [(ngModel)]="comment" name="comment" id="comment" [editor]="Editor" tagName="textarea"></ckeditor>
        </div>
        <button type="button" class="btn btn-primary float-right mb-3" (click)="addComment()">Comment</button>
    </form>
</div>